@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body html {
    background-color: lightgrey;
}
header {
background-color: rgb;
    


}

h1 {
padding: 10px;
text-align: center;
}

menu {
    display: block;
}
menu > ul {
    list-style-type: none;
}
menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(87,87,87);
    text-align: center;
    color: white;
    border-top: 2px solid grey;
}
menu > ul > li:hover a {
    background-color: rgba(119, 136, 153, 0.459);
}

main {
    width: 90vw;
    background-color:white;
    margin:  auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article {
    padding-bottom: 20px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text -indent: 20px;
}

