@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: 
    rgba(119, 136, 153, 0.459);
}
header {
    background-color: rgb(70, 130, 180);
    color: white;
    text-align: center;
    padding: 10px;
}