@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: 
    rgba(119, 136, 153, 0.459);
}
header {
    background-color:rgba(119, 136, 153, 0.459);
;
}

h1 {
padding: 10px;
text-align: center;
}

menu {
    display: block;
}
menu > ul {
    list-style-type: none;
}
menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(87,87,87);
    text-align: center;
    color: white;
    border-top: 2px solid grey;
}
menu > ul > li:hover a {
    background-color: rgba(119, 136, 153, 0.459);
}

