@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: 
    rgba(119, 136, 153, 0.459);
}
header {
    background-color:rgba(119, 136, 153, 0.459);
;
}

h1 {
padding: 10px;
text-align: center;
}

menu {
    display: block;
}
menu > ul {
    list-style-type: none;
}
menu 